:root{

    --branco-principal:#ffffff;
    --cinza-secundario:#c0c0c0;
    --cor-do-botao:#167bf8;
    --cor-de-fundo:#00030c;
    --fonte-principal:'inter';
}


body{
    background-color:var(--cor-de-fundo);
    font-family:var(--fonte-principal);
    font-size:16px;
    font-weight:400;
    color:var(--branco-principal);

}
*{
    margin:0;
    padding:0;
}
.principal{
    background-image: url("img/Background.png");
    background-repeat:no-repeat;
    background-size: 100%;
    text-align: center;
}
.container{
    height:100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    

}

.img-combo{

    margin: 1em 0 2em 0;
}
h1{
    color: var(--branco-principal);
    font-size: 28px;
    font-weight: 700;
}
.botao-azul{
    display: block;
    background-color: var(--cor-do-botao);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    color: var(--branco-principal);
    margin-bottom:10px;
}
.botao-transparente{
    background-color: transparent;
    border:  1px solid var(--branco-principal);

}

.aviso{ 
    color: var(--cinza-secundario);
    font-size: 12px;;
}

.caixa{
    margin: 0 6em;
    text-align: center;
}
.secundario{

margin: 0 9em;

}
.texto-titulo{
    font-size: 48px;
    font-weight: 700;
    margin-bottom:0.1em;
}
.botao-secundario{
    display: inline-block;
    margin-top:1em;
}
.container__descricao{
    padding: 0 3em 0 0;
}
.texto-descricao{

    color: var(--cinza-secundario);
    
}
.secundario__imagem{
    width: 80%;
}
.imagem3{
    width: 90%;
}

.dispositivos{
    
    
     text-align: center;
 
    
}

.titulo_dispositivos{

    font-size:48px;
    font-weight:700;
}
.dispositivos_lista{
   display: flex;
   justify-content:  center;
   list-style-type: none;  
     margin: 5em 0 ;
}
li h3{
    font-size:32;
}
footer{
    text-align: center;
    margin-bottom: 4.5em;
}
.radape{
    width: 50%;
}
footer ul{
    margin-top: 2em;
}
footer a {
    margin-left: 1em;
    font-size:16px;
   
    text-decoration: none;
    color: var(--branco-principal);
}
footer li{
    display: inline-block;
    
}
footer p {
    margin: 1em;
   padding: 0 3em;
   color: var(--cinza-secundario);
   font-size: 14px;
   font-weight:400;
}


/*houver  */
footer a:hover {
    color: var(--cor-do-botao);
    

}
.imagem_dispositivos:hover{
transform: scale(1.1);
transition: all 0.5s;
}
.botao-azul:hover{
    transform:scale(1.05);
    background-color:blue;
    transition: all 0.5s;
    
}
.secundario__imagem:hover{
    transform:scale(1.05);
    transition: all 0.5s;
}